
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.bg-orange {
    background: #c94538;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.ff-gelassio{
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
}
.inner-title{
    font-size: 43px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.inner-subtitle{
    opacity: 0.6;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #000000;
}

.header {
    background: rgba(0, 0, 0, 0.3) url("../images/main.jpg") no-repeat center;
    background-size: cover;
    padding: 35px 0 244px 0;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-list + .menu-list { /*выбирает все элементы кроме первого*/
    margin-left: 50px;
}

.header-logo {
    font-family: 'Ribeye', cursive;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.header-btn{
    display: block;
    width: 163px;
    padding: 14px 0 12px 0;
    text-align: center;
    transition: 0.3s;
}
.header-btn:hover{
    opacity: 0.8;
}
.header-bottom{
    margin-top: 200px;
}

.header-bottom-title{
    font-family: 'Gelasio', serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    color: #ffffff;
    width: 804px;
}

.header-bottom-text{
    color: #ffffff;
    opacity: 0.6;
    width: 458px;
    margin: 30px 0 40px 0;
}

.header-bottom-link{
    width: 187px;
    display: block;
    text-align: center;
    padding: 18px 0 17px 0;
    transition: 0.3s;
}
.header-bottom-link:hover{
    opacity: 0.8;
}


.location{
    padding: 140px 0;
}
.location-subtitle{
    width: 735px;
    margin: 0 auto;
}
.location-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.location-block{
    width: 360px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
}
.location-block:hover{
    box-shadow: 0 6px 35px rgba(0,0,0,0.08);
}
.location-block-title{
    font-size: 24px;
    line-height: 36px;
    margin: 35px 0 10px 0;
}
.location-block:first-child .location-block-text{
    padding: 0 27px 33px 27px;
    opacity: 0.6;
}
.location-block:nth-child(2) .location-block-text{
    padding: 0 37px 33px 34px;
    opacity: 0.6;
}
.location-block:last-child .location-block-text{
    padding: 0 13px 33px 13px;
    opacity: 0.6;
}

/*slider*/
.slider{
    padding-bottom: 57px;
}
.slider-subtitle {
    width: 656px;
    margin: 0 auto 60px auto;
}
/*.sliders{*/
/*    display: flex;*/
/*}*/
.sliders__block-wrap{
    width: 262px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
}
.sliders__block-wrap:hover{
    opacity: 0.5;
}
.sliders__block-title{
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0 8px 0;
}
.sliders__block-loc{
    padding-left: 21px;
    color: #00000060;
    position: relative;
}
.sliders__block-loc::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 11px;
    height: 16px;
    background: url("../images/Vector.svg") no-repeat center;
    transform: translateY(-50%);
}
.sliders__block-star{
    padding-left: 34px;
    background: url("../images/Star 3.svg") no-repeat left center;
    margin-left: 50px;
}
.sliders__block-booking{
    margin: 8px 0 8px 0;
    color: #00000060
}
.sliders__block-price{
    font-weight: 500;
}
.sliders__block-price span{
    color: #00000060;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.btn-slider{
    position: absolute;
    z-index: 10;
}
.btn-slick-prev{
    bottom: -55px;
    left: 32%;
}
.btn-slick-next{
    bottom: -55px;
    right: 32%;
}
.slick-dots{
    position: absolute;
    bottom: -52px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.slick-dots li {
    background: rgba(201,69,59,0.1);
    border-radius: 10px;
    width: 75px;
    height: 5px;
    font-size: 0;
    line-height: 0;
    transition: 0.4s;
}
.slick-dots li.slick-active{
    background: #c94538;
}
.slick-dots li:not(:last-child) {
    margin-right: 5px;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    border: none;
}